In [15]:
print("Ammar yasir")

Ammar yasir

In [14]:
print("Hello")

Hello

In [22]:
a=str(input("enter your first name"))
b=str(input("enter your second name"))
c=a+b
print("your full name is ",c)

your full name is  ammaryasir

In [26]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [27]:
for i in reversed(range(1,6)):
    print(i)

5
4
3
2
1

In [29]:
for i in range(1,6,2):
    print(i)

1
3
5

In [36]:
rows = int(input("Enter rows: "))
cols = int(input("Enter cols: "))
symbol = input("Enter symbol: ")

for i in range(rows):
    for j in range(cols):
        print(symbol, end=" ")
    print()  # to move to the next line after each row

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [49]:
age=int(input("Enter age: "))
if age<15:
    print("age is less than 15")
else:
    print("age is greater than 15")

age is greater than 15

In [64]:
hours=int(input("Enter hours: "))
if hours <8:
    print("good morning")
elif hours < 12:
    print("good afternoon")
elif hours < 15:
    print("lumnch time")
elif hours < 18:
    print("good evening")
else:
    print("good night")

good night

In [7]:

rows =int(input("Enter rows: "))
columns=int(input("Enter columns: "))
for i in range(rows):           # Outer loop for each row
    for j in range(columns):      # Inner loop for stars in each row
        print("*", end=" ")
    print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [4]:
rows =int(input("Enter rows: "))
for i in range(rows):          
    for j in range(i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [14]:
rows =int(input("Enter rows: "))
for i in range(rows):
    for j in range(rows-i):
        print("*", end=" ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
rows =int(input("Enter rows: "))
columns=int(input("Enter columns: "))
for i in range(rows):
    for j in range(i+1):
        print("*", end=" ")
    print()

In [20]:
marks = {
    "ali": 92,
    "sara": 51,
    "omer": 67,
    "fatima": 10
}

def find_highest_and_lowest(marks_dict):
    highest_name, highest_score = students[0]
    lowest_name, lowest_score = students[0]

    for name, score in marks_dict.items():
        if score > highest_score:
            highest_name, highest_score = name, score
        if score < lowest_score:
            lowest_name, lowest_score = name, score

    return {
        "highest": {highest_name: highest_score},
        "lowest": {lowest_name: lowest_score}
    }


print("Highest:", result["highest"])
print("Lowest:", result["lowest"])

NameError: name 'result' is not defined

In [45]:
marks = {
    "ali": 92,
    "sara": 51,
    "omer": 67,
    "fatima": 10
}
max=marks["ali"]
for key in marks:
    if marks[key] > max:
        max=marks[key]
for key in marks:
    if marks[key] == max:
        print(f"{key} has the higest mark: {marks[key]}")

ali has the higest mark: 92

In [47]:
marks = {
    "ali": 92,
    "sara": 51,
    "omer": 67,
    "fatima": 10
}
min = marks["ali"]
for key in marks:
    if marks[key] < max:
        max=marks[key]
for key in marks:
    if marks[key] == max:
        print(f"{key} has the lowest mark: {marks[key]}")

fatima has the lowest mark: 10

In [77]:
marks = {
    "ali": 92,
    "sara": 51,
    "omer": 67,
    "fatima": 10
}
min = marks["ali"]
for key in marks:
    if marks[key] < max:
        max=marks[key]
    if marks[key] == max:
          print(f"{key} has the lowest mark: {marks[key]}")

fatima has the lowest mark: 10

In [7]:
class cat:
    def basic(self ):
     self.name = "cat"
     self.breed="parsion"
     self.age =12
    def info(self):
        print("name is ", self.name)
        print("breed is ", self.breed)
        print("age is ", self.age)
p1=cat()
p1.basic()
p1.info()

name is  cat
breed is  parsion
age is  12

Single Inheritance
parent → child

In [43]:
class Cat:
    def __init__(self,name,breed,age ):
        self.name = name
        self.breed = breed
        self.age = age

    def info(self):
        print("Name is", self.name, "Breed is", self.breed, "Age is", self.age)



# Dog inherits from Cat
class Dog(Cat):
    def __init__(self,name,breed,age):
        #super().__init__(name)   # call parent constructor
        self.name = name
        self.breed = breed
        self.age = age

# Create objects
p1 = Cat("cat","parsion",12)
p1.info()   # Output: Name is cat

p2 = Dog("dog","huskey",12)
p2.info()   # Output: Name is husky

Name is cat Breed is parsion Age is 12
Name is dog Breed is huskey Age is 12

Multilevel Inheritance
Child → Parent → Grandparent

In [52]:
class Cat:
    def eat(self, name):
        self.name = name
        print("Animal eats food.")

class Dog(Cat):
    def barks(self, name):
        self.name = name
        print("Dog barks.")

class Puppy(Dog):  # use correct case (Dog, not dog)
    def loves(self, name):
        self.name = name
        print("Puppy loves playing!")


# Create object
p1 = Puppy()
p1.eat("cat")     # from Cat
p1.barks("dog")   # from Dog
p1.loves("puppy") # from Puppy

Animal eats food.
Dog barks.
Puppy loves playing!

In [11]:
class employee:
    count = 0
    def __init__(self):
        employee.count= employee.count+1
        self.name = "Ali"
        self.id = employee.count
        self.hire_year = 2020
    def display(self):
        print("name:", self.name, "id:", self.id,"year:", self.hire_year)
class developer(employee):
    def __init__(self,):
        employee.count=employee.count+1
        self.id= employee.count
        self.name = "Ammar"
        self.hire_year = 2020
        self.skill=["python","java","c++"]
    def display(self):
        print("name:", self.name, "id:", self.id,"year:", self.hire_year)
p1=employee()
p1.display()
p2=developer()
p2.display()

name: Ali id: 1 year: 2020
name: Ammar id: 2 year: 2020

In [45]:
class person:
    def __init__(self,name,age):
        self.name = name
        self.age =age
    def show_personal_info(self):
         print("name:",self.name, "age:",self.age)

class employee :
    def __init__(self,employee_id,department):
        self.employee_id= employee_id
        self.department = department
    def show_employee_info(self):
        print("employee_id",self.employee_id,"department:", self.department)

class skills :
    def __init__(self):
        self.skill = []
    def add_skill (self,skill):
        self.skill.append(skill)
    def show(self):
        print(" Skills:",self.skill)

class manager(person,employee,skills):
    def __init__(self,name,age,employee_id,department,team_size):
        person.__init__(self,name,age)
        employee.__init__(self,employee_id,department)
        skills.__init__(self)
        self.team_size = team_size
    def show_full_info(self):
        self.show_personal_info()
        self.show_employee_info()
        print("team size:",self.team_size)

class developer(person,employee,skills):
    def __init__(self,name,age,employee_id,department,programming_language):
        person.__init__(self,name,age)
        employee.__init__(self,employee_id,department)
        skills.__init__(self)
        self.programming_language = programming_language
    def show_full_info(self):
        self.show_personal_info()
        self.show_employee_info()
        self.show()


p4=manager("ali",21,"mt01","hr",10)
p4.add_skill("java")
p4.show_full_info()

p5=developer("haris",25,"dd05","finance",12)
p5.add_skill("c++")
p5.show_full_info()

name: ali age: 21
employee_id mt01 department: hr
team size: 10
name: haris age: 25
employee_id dd05 department: finance
 Skills: ['c++']

In [17]:
class person:
    def __init__(self, name, age, employee_id=None, department=None):
        self.name = name
        self.age = age
        super().__init__()
    def show_personal_info(self):
         print("name:",self.name, "age:",self.age)

class employee(person):
    def __init__(self, name, age, employee_id, department):
        super().__init__(name, age, employee_id, department)
        self.employee_id = employee_id
        self.department = department
    def show_employee_info(self):
        print("employee_id",self.employee_id,"department:", self.department)

class skills:
    def __init__(self, name, age, employee_id, department):
        self.skill = []
        super().__init__(name, age, employee_id, department)
    def add_skill(self, skill):
        self.skill.append(skill)
    def show(self):
        print(" Skills:",self.skill)

class manager(skills, employee):
    def __init__(self, name, age, employee_id, department, team_size):
        super().__init__(name, age, employee_id, department)
        self.team_size = team_size
    def show_full_info(self):
        self.show_personal_info()
        self.show_employee_info()
        print("team size:",self.team_size)
        self.show()

class developer(skills, employee):
    def __init__(self, name, age, employee_id, department, programming_language):
        super().__init__(name, age, employee_id, department)
        self.programming_language = programming_language
    def show_full_info(self):
        self.show_personal_info()
        self.show_employee_info()
        self.show()
        print("programming_language:", self.programming_language)

p4 = manager("ali", 21, "mt01", "hr", 10)
p4.add_skill("java")
p4.show_full_info()

p5 = developer("haris", 25, "dd05", "finance", 12)
p5.add_skill("c++")
p5.show_full_info()

name: ali age: 21
employee_id mt01 department: hr
team size: 10
 Skills: ['java']
name: haris age: 25
employee_id dd05 department: finance
 Skills: ['c++']
programming_language: 12

single level inhertience

In [1]:
class person:
    def __init__(self, name, age, employee_id=None, department=None):
        self.name = name
        self.age = age
        super().__init__()
    def show_personal_info(self):
         print("name:",self.name, "age:",self.age)
class student(person):
    def __init__(self, name, age, student_id, course):
        person.__init__(self, name, age)
        self.student_id = student_id
        self.course = course
    def show_personal_info(self):
        print("student_id:",self.student_id, "course:",self.course)
class teacher(student):
    def __init__(self, name, age,enploye_id,subject):
        student.__init__(self, name, age)
        self.enploye_id = enploye_id
        self.subject = subject
    def show_personal_info(self):
        print("enploye_id:",self.enploye_id, "subject:",self.subject)

p1=teacher()
p1.show_personal_info()

TypeError: teacher.__init__() missing 4 required positional arguments: 'name', 'age', 'enploye_id', and 'subject'