In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

df=pd.read_csv('/datasets/climate_data2.csv')
df.head(10)

         Date     City  Temperature  Humidity  Rainfall
0  2024-01-01  Karachi    25.973713        75      2.05
1  2024-01-02  Karachi    20.893886        63       NaN
2  2024-01-03  Karachi    27.181508        52      4.34
3  2024-01-04  Karachi    34.184239        27      4.52
4  2024-01-05  Karachi    20.126773        94       NaN
5  2024-01-06  Karachi    20.126904        51      0.52
6  2024-01-07  Karachi    34.633703        26      1.06
7  2024-01-08  Karachi    28.139478        62      0.55
8  2024-01-09  Karachi    18.244205        27      2.23
9  2024-01-10  Karachi    26.340480        40      3.50

In [32]:
df.isnull().sum()

Date             0
City             0
Temperature      0
Humidity         0
Rainfall       200
dtype: int64

In [33]:
df.fillna(df.isnull().mean(), inplace=True)
df.isnull().sum()

Date           0
City           0
Temperature    0
Humidity       0
Rainfall       0
dtype: int64

In [34]:
df.duplicated().sum()

np.int64(0)

In [38]:
df['Datetime']=pd.to_datetime(df['Date'])
df.set_index('Datetime',inplace=True)
df.head(10)

                  Date     City  Temperature  Humidity  Rainfall
Datetime
2024-01-01  2024-01-01  Karachi    25.973713        75   2.05000
2024-01-02  2024-01-02  Karachi    20.893886        63   0.10929
2024-01-03  2024-01-03  Karachi    27.181508        52   4.34000
2024-01-04  2024-01-04  Karachi    34.184239        27   4.52000
2024-01-05  2024-01-05  Karachi    20.126773        94   0.10929
2024-01-06  2024-01-06  Karachi    20.126904        51   0.52000
2024-01-07  2024-01-07  Karachi    34.633703        26   1.06000
2024-01-08  2024-01-08  Karachi    28.139478        62   0.55000
2024-01-09  2024-01-09  Karachi    18.244205        27   2.23000
2024-01-10  2024-01-10  Karachi    26.340480        40   3.50000

In [46]:
import pandas as pd

# Load your dataset
df = pd.read_csv("/datasets/climate_data2.csv")

# Mean (average)
mean_values = df.mean(numeric_only=True)

# Median (middle value)
median_values = df.median(numeric_only=True)

# Mode (most frequent value)
mode_values = df.mode(numeric_only=True).iloc[0]

print("Mean:\n", mean_values)
print("\nMedian:\n", median_values)
print("\nMode:\n", mode_values)

Mean:
 Temperature    29.867139
Humidity       60.280874
Rainfall        2.002393
dtype: float64

Median:
 Temperature    29.804762
Humidity       60.000000
Rainfall        1.350000
dtype: float64

Mode:
 Temperature    -1.170043
Humidity       83.000000
Rainfall        0.080000
Name: 0, dtype: float64

In [48]:
import pandas as pd

df = pd.read_csv("/datasets/climate_data2.csv")

# Get unique city names
cities = df["City"].unique()

# ---------- MEAN ----------
print("=== Mean Temperature for Each City ===")
for city in cities:
    mean_temp = df[df["City"] == city]["Temperature"].mean()
    print(f"{city}: {mean_temp:.2f}")
print("----------------------------------------")

# ---------- MEDIAN ----------
print("=== Median Temperature for Each City ===")
for city in cities:
    median_temp = df[df["City"] == city]["Temperature"].median()
    print(f"{city}: {median_temp:.2f}")
print("----------------------------------------")

# ---------- MODE ----------
print("=== Mode Temperature for Each City ===")
for city in cities:
    mode_series = df[df["City"] == city]["Temperature"].mode()
    mode_temp = mode_series.iloc[0] if not mode_series.empty else None
    print(f"{city}: {mode_temp:.2f}" if mode_temp is not None else f"{city}: No mode found")
print("----------------------------------------")

=== Mean Temperature for Each City ===
Karachi: 29.59
Lahore: 29.21
Islamabad: 30.51
Quetta: 30.16
Peshawar: 29.87
----------------------------------------
=== Median Temperature for Each City ===
Karachi: 29.69
Lahore: 29.15
Islamabad: 30.24
Quetta: 30.30
Peshawar: 29.84
----------------------------------------
=== Mode Temperature for Each City ===
Karachi: 4.07
Lahore: 5.01
Islamabad: 6.01
Quetta: -1.17
Peshawar: 4.79
----------------------------------------